.carousel-caption{
    margin-bottom: 350px;
}

.carousel-caption h5{
    font-size: 40px;
    font-weight: bold;
}

.carousel-caption p{
    font-size: 20px;
}

.carousel-control-next-icon:after
{
    /*content: '>';*/
    font-size: 55px;
    color: greenyellow;
}

.carousel-control-prev-icon:after{
    /*content: '<';*/
    font-size: 55px;
    color: greenyellow;
}

body{
    background-image: url("../../images/personal_project/dbz_background_photo.jpg") ;
    color:greenyellow;
}

a{
    color:greenyellow;
}

footer{
    color:greenyellow;
}

.btn{
    background-color: greenyellow;
}

btn-hover{
    background-color: white;
    color: black;
}

img{
    height:500px;
}

body h1{
    color:greenyellow;
}

header, main, footer {
    background-color: hsla(0, 0%, 0%, 50%);
}

